
/src/Gleed2D.Ui/bin
/src/Gleed2D.Core/bin
/src/Gleed2D.InGame.KryptonProperties.Windows/bin
/src/Gleed2D.InGame.Windows/bin
/src/Gleed2D.Plugins.Krypton/bin
/src/Gleed2D.Plugins/bin
/src/Gleed2D.Ui/obj
/src/Gleed2D.Core/obj
/src/Gleed2D.InGame.KryptonProperties.Windows/obj
/src/Gleed2D.InGame.Windows/obj
/src/Gleed2D.Plugins.Krypton/obj
/src/Gleed2D.Plugins/obj
/src/Gleed2D.InGame/bin
/src/Gleed2D.InGame/obj
/src/Gleed2D.InGame.Krypton/obj
/src/Gleed2D.InGame.Krypton/bin